<h1>Chatrooms</h1>
<hr>
<h3>Public chatrooms</h3>

<%@public.each do |c|%>
    <h3><%=link_to c.title, c%></h3>
<%end%> 

<hr>
<%if @private != nil%>
    <h3>Private chatrooms</h3>
    <%@private.each do |c|%>
        <h3><%=link_to c.title, c%></h3>
    <%end%>
<%end%>

<%=form_tag(new_chatroom_path, :method => "get") do %>
    <%submit_tag "Create chatroom"%>
<%end%>