<!DOCTYPE html>
<nav class="navbar fixed-top navbar-light bg-light">
  <img src="../../../app/assets/images/ring.png" alt="the ring">
  <h3> FantaApp </h3>

  <a class="navbar-brand" href= <%= signin_path%>>Login</a>
</nav>