<h2><%=link_to "Go back", "/"%></h2>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3xYXUeSmb-Y?ecver=1?rel=0&amp;autoplay=1&mute=1" allowfullscreen></iframe>
</div>