
<div class="container" style="background: url('https://cdna.artstation.com/p/assets/images/images/007/526/306/large/andrew-averkin-mount-doom-01.jpg?1506725125') no-repeat; background-size: 100% 100%; padding: 50px; border-radius: 8px;">


<div class="container"> 
    <h1 style="color: white">One community to rule them all.</h1>
    <h4 style="color: white">A lord of the rings character community</h4>
</div>

<div class="signup-form">
    <%= render './users/signup_form' %>
</div>