<h1>Welcome to the character:<%= @character.name %></h1>




<p>Then here we would put all the other character information like, pictures, genders yada ydad </p>

<button> leave a comment for <%= @character.name %> </button>
<%=form_tag(profile_path, :method => "get") do %>
    <%submit_tag "View your profile"%>
<%end%>
<%=form_tag(characters_path, :method => "get") do %>
    <%submit_tag "View all characters"%>
<%end%>