

<h1>Welcome to the character:       <%= @character.name %></h1>




<p>Then here we would put all the other character information like, pictures, genders yada ydad </p>

<button> leave a comment for <%= @character.name %> </button>