/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 */


.header {
    padding-top: 10%;
    background-image: url(/app/assets/images/The_Lord_of_the_Rings_Characters.jpg)
}

.flex {
    display: flex;
    margin-bottom: 10px;
}

.comment-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 50px;
}

.flex-vertical {
    flex-direction: column;
}

.character-image {
    margin-right: 50px;
}


#new_character_button {
    margin-top: 10%;
}

.signup-form {
    color: white;
    border-radius: 6px; 
    width: 50%;
    padding: 20px;
    }

.container h1 {
    font-size: 70px;
}

.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    font-size: 20px;
    color: #ef6730;
}


#logo img {
    width: 45px;
    height: 45px;
}

.logout {
    margin-left: 20px;
}

.navbar-shadow {
    background-color: white;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.062), 0 1px 3px rgba(0, 0, 0, 0.043);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.05), 0 1px 3px rgba(0, 0, 0, 0.023);
}

.avatar-image img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
}

.post {
    margin: 15px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: white;
    -webkit-box-shadow: 0 10px 60px rgb(50, 50, 93), 0 10px 30px rgba(0, 0, 0, 0.043);
    box-shadow: 0 4px 10px rgba(50, 50, 93, 0.05), 0 1px 3px rgba(0, 0, 0, 0.023);
}

.user-box{
    float: right;

}


.chat-container {
    max-width: 60%;
}


.message-users {
    margin-top: 20px;
    left: 30px;
}

.chatroom-user ul li {
    list-style-image: url('bullet_icon.png');
    
}


.navbar-light .navbar-brand:hover {
    color:rgba(0,0,0,.6);
}

.btn {
    margin-top: 10px;
}

